html, body {
  background-color: #F5F5F5;
}

// Fix drawer icon on mobile mode

@media (max-width: 1024px) {
  .mdl-layout__container .mdl-layout .mdl-layout__drawer-button i {
    margin: 12px!important;
    color: white!important;
  }
}

header {
  box-shadow: none!important;
}

.mdl-layout-title {
  padding-left: 24px!important;
}

.mdl-navigation__link {
  padding-left: 24px!important;
}

.mdl-navigation__link .mdl-list__item-primary-content i {
  margin-right: 16px!important;
}

.mdl-navigation__link.active {
  background-color: rgba(0, 0, 0, 0.1);
}

.spacer {
  width: 100%;
  height: 192px;
}

.main-container {
  width: 80%!important;
  top: -100px!important;
  margin: 0 auto!important;
}

.login-field-container {
  width: auto!important;
  margin-right: 8px!important;
}

.login-field {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3)!important;
}

.login-field-label {
  color: rgba(255, 255, 255, 0.7)!important;
}

.mdl-textfield__label:after {
  background-color: rgba(255, 255, 255, 1)!important;
}

.login-submit {
  color: rgba(0, 0, 0, 0.87)!important;
  background: #FAFAFA!important;
}

.mdl-card__supporting-text {
  width: auto!important;
}